& {
  @mixin link-size ($display, $width, $height, $background-size) {
    display: $display;
    width: $width;
    height: $height;
    background-size: $background-size;
  }

  @mixin block-size ($display, $flex-wrap, $width) {
    display: $display;
    flex-wrap: $flex-wrap;
    width: $width;
  }

  @mixin title-size ($font-size, $text-align) {
    font-size: $font-size;
    text-align: $text-align;
  }

  @mixin page-span ($display, $margin, $width, $font-size) {
    display: $display;
    margin: $margin;
    width: $width;
    font-size: $font-size;
  }

  .wrapper {
    font-family: 'Montserrat Alternates';
      header {
        display: flex;
        justify-content: space-between;
        padding: px(30) px(18) 0 px(50);
        height: px(90);
        background-color: #e55b2d;
        .left_icon {
          display: flex;
          .menue {
            margin-top: px(5);
            background: url('../images/hct2Component/icon-menu.png') no-repeat;
            @include link-size (block, px(60), px(60), px(30));
          }
          .chanels {
            display: block;
            color: #fff;
            font-size: px(16);
            margin: px(8) 0 0 px(40);
            text-decoration: none;
          }
        }

        .logo {
          background: url('../images/hct2Component/n.png') no-repeat;
          margin-left: px(140);
          @include link-size (block, px(80), px(50), px(32));
        }
        .right_icon {
          display: flex;
          width: px(300);

          .setings {
            background: url('../images/hct2Component/icon-settings.png') no-repeat;
            margin-right: px(34);
            @include link-size (block, px(50), px(50), px(40));
          }
          .search {
            background: url('../images/hct2Component/icon-search.png') no-repeat;
            margin-right: px(30);
            @include link-size (block, px(50), px(50), px(32));
          }
          .face {
            background: url('../images/hct2Component/avatar.png') no-repeat;
            margin-right: px(40);
            @include link-size (block, px(50), px(50), px(44));
          }
          .final_icon {
            background: url('../images/hct2Component/icon-bookmark.png') no-repeat;
            @include link-size (block, px(50), px(50), px(34));
          }
        }
      }

      aside {
        background: url('../images/hct2Component/bg_phone.png') no-repeat;
        background-size: cover;
        text-align: center;
        .bar_content {
          padding-top: px(185);
          h2 {
            color: #fff;
            font-size: px(68);
          }
          button {
            color: #f96332;
            font-size: px(19);
            padding: px(16) px(28);
            margin-top: px(60);
            border-radius: px(30) px(30);
            border: none;
            outline: none;
          }
        }
        span {
          display: block;
          color: #fff;
          font-size: px(18);
          margin-top: px(140);
          padding-bottom: px(34);
        }
        .bar_icon {
          display: flex;
          justify-content: space-between;
          margin: 0 auto;
          padding-bottom: px(58);
          width: px(320);
          .one_face {
            background: url('../images/hct2Component/avatar1.png') no-repeat;
            @include link-size (block, px(45), px(45), px(45));
          }
          .two_face {
            background: url('../images/hct2Component/avatar2.png') no-repeat;
            @include link-size (block, px(45), px(45), px(45));
          }
          .three_face {
            background: url('../images/hct2Component/avatar3.png') no-repeat;
            @include link-size (block, px(45), px(45), px(45));
          }
          .four_face {
            background: url('../images/hct2Component/avatar4.png') no-repeat;
            @include link-size (block, px(45), px(45), px(45));
          }
          .five_face {
            background: url('../images/hct2Component/avatar5.png') no-repeat;
            @include link-size (block, px(45), px(45), px(45));
          }
        }
      }
      footer {
        display: flex;
        flex-direction: row;
        .astro_box {
          @include block-size(flex, nowrap, 25%);
          flex-direction: column;
          .info {
            @include block-size(flex, wrap, 100%);
            margin-top: px(80);
            margin-bottom: px(40);
            text-align: center;
            h3 {
              margin: 0 px(100) px(90) px(90);
              line-height: px(56);
              @include title-size (px(36), center)
            }
          p {
            align-items: center;
            padding-left: px(40);
            @include page-span (flex, 0, 50%, px(16));
            &::before {
              content: '';
              background: url('../images/hct2Component/icon.png') no-repeat;
              @include link-size (inline-block, px(40), px(30), px(16));
            }
          }
          span {
            align-items: center;
            padding-left: px(90);
            @include page-span (flex, 0, 50%, px(16));
            &::before {
              content: '';
              background: url('../images/hct2Component/icon_time.png') no-repeat;
              @include link-size (inline-block, px(40), px(30), px(26));
            }
          }
        }
        a {
          background: url('../images/hct2Component/astro.png') no-repeat;
          @include link-size (block, px(510), px(400), cover);
        }
      }
        .archeolog_box {
          @include block-size(flex, nowrap, 25%);
          flex-direction: column;
          .info {
            @include block-size(flex, wrap, 100%);
            margin-top: px(80);
            text-align: center;
            h3 {
              margin: 0 px(80) px(90) px(75);
              line-height: px(56);
              @include title-size (px(36), center)
            }
          p {
            align-items: center;
            padding-left: px(40);
            @include page-span (flex, 0, 50%, px(16));
            &::before {
              content: '';
              background: url('../images/hct2Component/icon.png') no-repeat;
              @include link-size (inline-block, px(40), px(30), px(16));
            }
          }
          span {
            align-items: center;
            padding-left: px(90);
            @include page-span (flex, 0, 50%, px(16));
            &::before {
              content: '';
              background: url('../images/hct2Component/icon_time.png') no-repeat;
              @include link-size (inline-block, px(40), px(30), px(26));
            }
          }
        }
        a {
          background: url('../images/hct2Component/archaeolog.png') no-repeat;
          @include link-size (block, px(510), px(410), px(580));
        }
        }
        .ballob_box {
          @include block-size(flex, nowrap, 25%);
          flex-direction: column;
          .info {
            @include block-size(flex, wrap, 100%);
            margin-top: px(80);
            margin-bottom: px(40);
            text-align: center;
            h3 {
              margin: 0 px(50) px(90) px(80);
              line-height: px(56);
              @include title-size (px(36), center)
            }
          p {
            align-items: center;
            padding-left: px(40);
            @include page-span (flex, 0, 50%, px(16));
            &::before {
              content: '';
              background: url('../images/hct2Component/icon.png') no-repeat;
              @include link-size (inline-block, px(40), px(30), px(16));
            }
          }
          span {
            align-items: center;
            padding-left: px(100);
            @include page-span (flex, 0, 50%, px(16));
            &::before {
              content: '';
              background: url('../images/hct2Component/icon_time.png') no-repeat;
              @include link-size (inline-block, px(40), px(30), px(26));
            }
          }
        }
        a {
          background: url('../images/hct2Component/ballon.png') no-repeat;
          @include link-size (block, px(510), px(400), cover);
        }
        }
        .magma_box {
          @include block-size(flex, nowrap, 25%);
          flex-direction: column;
          .info {
            @include block-size(flex, wrap, 100%);
            margin-top: px(90);
            text-align: center;
            h3 {
              margin: 0 px(80) px(140) px(90);
              line-height: px(56);
              @include title-size (px(36), center)
            }
          p {
            align-items: center;
            padding-left: px(40);
            @include page-span (flex, 0, 55%, px(16));
            &::before {
              content: '';
              background: url('../images/hct2Component/icon.png') no-repeat;
              @include link-size (inline-block, px(40), px(30), px(16));
            }
          }
          span {
            align-items: center;
            padding-left: px(80);
            @include page-span (flex, 0, 45%, px(16));
            &::before {
              content: '';
              background: url('../images/hct2Component/icon_time.png') no-repeat;
              @include link-size (inline-block, px(40), px(30), px(26));
            }
          }
        }
        }
        a {
          background: url('../images/hct2Component/magma.png') no-repeat;
          @include link-size (block, px(510), px(400), px(570));
        }
      }
    }
}
